<nav class="navbar">
  <span (click)="this.toggleNav()" class="navbar-toggle" id="js-navbar-toggle">
    <fa-icon [icon]="faBars"></fa-icon>
        </span>
    <a class="logo" routerLink="/">Alec Dusheck</a>
    <ul [class.main-nav-hidden]="hidden" class="main-nav" id="js-menu">
        <li>
            <a class="nav-links" routerLink="/">Home</a>
        </li>
        <li>
            <a class="nav-links" routerLink="/contact">Contact</a>
        </li>
        <li>
            <a class="nav-links" routerLink="/resume">Résumé</a>
        </li>
        <li>
            <a class="nav-links" href="https://github.com/AlecDusheck">Github</a>
        </li>
    </ul>
</nav>
