<app-bordered-page>
    <div id="home">
        <div class="card">
            <img src="/assets/me.png">
            <div class="card-details">
                <h1>Alec Dusheck</h1>
                <h2>Software Developer @ ExperienceIT, Non-Profit Co-Founder, Leader</h2>
            </div>
            <div class="card-icons">
                <a href="https://twitter.com/simplyalec" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a>
                <a href="https://www.linkedin.com/in/alecdusheck/" target="_blank"><fa-icon [icon]="linkedIn"></fa-icon></a>
            </div>
        </div>
        <div class="section">
            <h2>Overview</h2>
            <div class="section-details">
                <p>My name is Alec Dusheck, and I'm a software developer at <a href="https://eitmn.com">ExperienceIT</a> and a change leader.</p>
                <p>
                    I want to use computer science and business to make the world a better place.
                    I co-founded a non-profit named Connect To Care to raise awareness of youth homelessness.
                    We run various programs to help our local Minneapolis homeless community.
                    While working there, I've managed several projects, including our end-to-end <a
                            href="https://volunteer.connect-tocare.org">volunteer platform</a>. and have been deeply
                    involved in application design and
                    development.
                    To learn more about Connect To Care, visit our <a href="https://connect-tocare.org">website</a>.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Personal Projects</h2>
            <div class="section-details">
                <p>
                    I've worked on several personal projects including <a href="https://github.com/SimplyServers">Simply Servers</a>,
                    a full-on server management platform. This project included a horizontally scalable management engine, which is powered by Docker.
                    It also included a full-fledged API and an Angular front-end. While never deployed, this project was fully functional and completed.
                    Before that, I worked on a educational platform called <a href="https://github.com/AlecDusheck/MCC_Scripts">MCCode</a>, aimed at introducing children to computer science.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Current Work</h2>
            <div class="section-details">
                <p>
                    I'm currently a software developer at an Excelsior, Minnesota based company named ExperienceIT. This job has given me amounts of real-world experience.
                    I've been given the opportunity to work with small businesses to Fortune 100 companies. I have a passion for bridging the gap between management and development.
                    My current project is an exciting new incentive at United Health Group R&D. I'm leading a team of contractors working on ground breaking technology.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Education</h2>
            <div class="section-details">
                <p>
                    I attend <a href="https://www.edenpr.org">Eden Prairie High School</a>, where I'm a senior.
                    I have passions in Mathematics and Political Science. I've always challenged myself by pushing myself with a broad range of AP and honors classes.
                    While attending, I founded a club to better engage computer savvy students with their community. Our programs range from senior tech support to assisting our school IT department with tasks.
                    I also am pursuing a PSEO education at Normandale Community College.
                </p>
                <br>
                <p>
                    For more information on my club, click <a href="https://ephs.club">here</a>.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Areas of Experience</h2>
            <div class="section-details">
                <p>I'm a full-stack developer. My favorite programming language is Typescript, but I also enjoy working with Java and PHP.
                    My main goal in my carrier is to bridge the common-seen gap between management and development. I've proven to be an extremely versatile and flexible worker with a broad range of skills.
                </p>
                <br>
                <p>The company I work for is fully Agile. I'm familiar with working in an Agile environment.</p>
                <br>
                <p>I've developed projects using the following technologies: </p>
                <ul>
                    <li>Typescript</li>
                    <li>Javascript</li>
                    <li>Flutter</li>
                    <li>jQuery</li>
                    <li>PHP</li>
                    <li>Angular 2+</li>
                    <li>MongoDB and MySQL (PostgreSQL)</li>
                    <li>C#</li>
                    <li>Java and Micronaut</li>
                    <li>Rest APIs and Graph</li>
                </ul>
            </div>
        </div>
    </div>
</app-bordered-page>
