<app-bordered-page>
    <div id="title">
        <span>Contacting me</span>
    </div>
    <div id="contact-methods">
        <div class="contact-method">
            <p class="name">Via e-mail:</p>
            <br>
            <p>You can send e-mails to the following address: <b>alec @ simplyalec.com</b></p>
            <br>
            <p>* Please note: I receive lots of emails. Please ensure that your subject is something
                notable and won't get flagged as spam.</p>
        </div>
        <div class="contact-method">
            <p class="name">Via post:</p>
            <br>
            <p>Please email me asking for my postal address and specify a reason for the need.</p>
        </div>
    </div>
</app-bordered-page>
